.contact {
  display: flex;
  align-items: center;
  width: 390px;
  margin-bottom: 25px;
}

.contact__type {
  position: relative;
}

.contact__name {
  height: 37px;
  z-index: 1;
  max-width: 134px;
  min-width: 134px;
  position: relative;
  padding: 10px 12px;
  padding-right: 60px;
  cursor: pointer;
  transition: background-color .3s ease-in-out;
  border: 1px solid var(--gray-suit);
  background-color: var(--mischka);
  color: var(--color-black3);
}

.contact__name::before {
  content: '';
  position: absolute;
  right: 15px;
  top: 13px;
  width: 10px;
  height: 10px;
  background-image: url('../img/arrow_tab.svg');
  background-repeat: no-repeat;
  background-position: center center;
  transition: transform .3s ease-in-out;
}

.contact__name:hover {
  transition: background-color .3s ease-in-out;
  background-color: var(--gray-suit);
}

.contact__name:active {
  transition: background-color .3s ease-in-out;
  background-color: var(--mischka);
}

.contact__list--active.contact__name::before {
  transform: rotate(-180deg);
  transition: transform .3s ease-in-out;
}

.contact__list {
  z-index: 2;
  position: absolute;
  font-size: 12px;
  padding: 10px 0px 6px;
  width: 100%;
  max-width: 134px;
  min-width: 134px;
  top: 36px;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: opacity .3s ease-in-out,
  visibility .3s ease-in-out;
  background-color: var(--athens-gray);
  border: 1px solid var(--gray-suit);
  color: var(--color-black3);;
}

.contact__list.contact__list--active {
  opacity: 1;
  visibility: visible;
  transition: opacity .3s ease-in-out,
  visibility .3s ease-in-out;
}

.contact__item {
  cursor: pointer;
  padding-top: 4px;
  padding-bottom: 7px;
  padding-left: 12px;
  transition:
  background-color .3s ease-in-out;
}

.contact__item:hover {
  transition:
  background-color .3s ease-in-out;
  background-color: var(--mischka);
}

.contact__input {
  padding-left: 12px;
  width: 100%;
  height: 100%;
  height: 37px;
  display: block;
  border: 1px solid var(--gray-suit);
  border-left: none;
}

.contact__delete {
  margin-left: -1px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 40px;
  align-self: stretch;
  background-color: var(--mischka);
  border: 1px solid var(--gray-suit);
  transition: border-color .3s ease-in-out;
  color: var(--color-white);
}

.contact__delete svg {
  display: block;
  width: 16px;
  height: 16px;
  fill: var(--silver-chalice);
  transition: fill .3s ease-in-out;
}

.contact__delete:hover {
  border-color: var(--burnt-sienna);
  transition: border-color .3s ease-in-out;
}

.contact__delete:hover svg {
  fill: var(--burnt-sienna);
  transition: fill .3s ease-in-out;
}

.contact__delete:hover .site-tooltip {
  opacity: 1;
  visibility: visible;
}
.contact__delete .site-tooltip {
  top: -30px;
  min-width: 134px;
}
